<!doctype html>
<html>
<head>
    <style>
        .ne-viewer-body{
            width: 100%;
            margin: auto;
        }
        ne-heading-ext,.codeblock-menu,.cm-gutters{display: none;}
        ne-h1,ne-h2,ne-h3,ne-h4,ne-h5,ne-h6 >ne-text{font-weight: bold;}
        .ne-card-container{display: block !important;}
        .ne-card-container,.ne-card-container a{background-color: #e2e2e2;color: #000000;}

        .cm-content{padding: .5rem;}

    </style>
</head>

<body>
<div >
    <article>
        #(content??)
    </article>
</div>
</body>
</html>